.py-base{
  padding-block: var(--py-base);
}

.px-xl{
  padding-inline: var(--px-xl);
}

.px-mid{
  padding-inline: var(--px-mid);
}

.uppercase{
  text-transform: uppercase;
}

.container{
  --max-width: 24em;
  --px: var(--px-mid);
  padding-block: var(--py-base);
  width: min(var(--max-width), 100% - var(--px)*2);
  margin-inline: auto;
}

/* hero */
.even-columns{
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-around; */
  gap: 1.5rem;
}

.flex-reverse{
  display: flex;
  flex-direction: column-reverse;
}

/* footer */
.footer-columns{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (width >= 80em){
  .container{
    --max-width: 80em;
    --px: var(--px-xl);
  }

  .even-columns{
    flex-direction: row;
    gap: 2rem;
  }

  .flex-reverse{
    flex-direction: row;
  }

  /* footer */
  .footer-columns{
    flex-direction: row;
    justify-content: space-between;
  }
}